@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: #002e4a;
}

#root {
  padding: 30px;
}

header, .body, footer {
    min-width: 300px;
}

header {
    text-align: center;
    padding: 30px;
}

.body {
  margin: 30px auto;
  overflow: auto;
  min-width: 90%;
  min-height: 300px;
  padding: 30px;
}

.slider, .space-edit, .container {
  margin: 30px auto;
} 

.container {
  margin-top: 0%;
  background-color: #002e4a;
  border: 0 5px 5px 5px solid #002e4a;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px; 
}

.slider {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.formula span {
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

#inertia:hover {
  background-color: #e84545;
  font-size: 1.3em;
}

.range-slider {
  height: 100%;
  width: 20%;
  border: 3px solid #002e4a;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  text-align: center;
  max-width: 30%;
}

.space-edit {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.space-edit .range-slider {
  padding: 0;
}

button {
  height: 100%;
  width: 20%;
  border: 3px solid #002e4a;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.3em;
  padding: 10px;
  min-width: 120px;
}

h3 {
    font-size: 1.3em;
}

.slider span {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    color: #002e4a;
    margin-left: 5px;
}

canvas {
  background-color: white;
}
